canvas {
  border-radius: 8px;
  box-shadow: 0 2px 12px -5px rgba(12, 12, 12, 0.1);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  display: flex;
  justify-content: center;
}

.instructions {
  padding: 10px;
}

